# Configurações do Banco de Dados
POSTGRES_DB=bd-avantcargo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=fcac41078f2abd6c272b8601a8511f0c

# URLs de Conexão com o Banco de Dados
# ----------------------------------------------------
# A variável DATABASE_URL_DOCKER é usada no docker-compose para apontar para o container 'postgres'.
DATABASE_URL_DOCKER=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Esta é a variável padrão. Você deve deixá-la apontando para 'localhost' 
# para que sua IDE e scripts rodando diretamente na sua máquina (ex: typeorm migration) funcionem.
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Configurações da API
PORT=3333

# Configurações do Frontend
NEXT_PUBLIC_API_URL=/api
